# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtual environment
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs & caches
*.log
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Distribution
htmlcov/
.coverage
coverage.xml

# Ignore plugins directory
plugins/

# Ignore vscode settings
.vscode/

.vercel
